[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bytebot/Desktop/firefox.desktop]
row=2
col=0

[/home/bytebot/Desktop/xfce4-terminal-emulator.desktop]
row=3
col=0

[Trash]
row=1
col=0

[/home/bytebot]
row=0
col=0

