[Desktop Entry]
Version=1.0
Type=Application
Name=Chrome
Comment=Browse the web with Google Chrome
Exec=/usr/bin/google-chrome-stable --password-store=basic --use-mock-keychain --disable-gpu --disable-software-rasterizer %U
Icon=google-chrome
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
